* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #343f4f;
}

.wrapper {
  display: inline-flex;
}

.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  color: #fc6d6d;
  list-style: none;
  position: relative;
  font-size: 60px;
  font-weight: 500;
  top: 0;
  animation: side 8s steps(4) infinite;
}

@keyframes side {
  100% {
    top: -360;
  }
}

.dynamic-txts li span {
  position: relative;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #343f4f;
  border-left: 2px solid #fc6d6f;
  animation: typing 2s steps(10) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
